.simple-tasks-container {
    top: -100px;
    left: 120px;
    width: 90%;
}

.simple-tasks-list {
    height: fit-content;
    overflow-y: scroll;
}

ul .simple-task-item:hover {
    background-color: lightgrey;
    border-color: green;
    border-width: 2px;
    cursor: pointer;
}

.add-btn {
    width: 20%;
}