.simple-tasks-container {
    top: -100px;
    left: 120px;
    width: 40%;
}

ul .simple-task-item:hover {
    background-color: lightgrey;
    border-color: green;
    border-width: 2px;
    cursor: pointer;
}

.btn-primary {
    width: 10%
}