.simple-tasks-search form {
    position: relative;
    width: 30%;
    top: -120px;
    left: 150px;
}

.simple-tasks-container {
    position: relative;
    top: -100px;
    left: 120px;
    width: 50%;
}

.simple-tasks-list .simple-task-item{
    background-color: green;
}